.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: absolute;
  top: 184px;
  height: 504px;
  width: 680px;
  padding: 0 52px;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.review-modal__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#review-modal-stars {
  margin-bottom: 40px;
}

#review-modal__input,
#review-modal__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #929292;
}

#review-modal__input {
  width: 100%;
  outline: none;
  margin-bottom: 40px;
  border: none;
  font-size: 20px;
  box-sizing: border-box;
}

#review-modal__input:focus {
  outline: none;
}

.review-modal__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 40px;
}

#review-modal-submit-btn {
  width: 218px;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
