.productCard {
  height: auto;
  padding: 0 20px;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  cursor: pointer;
}

.productCard:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.productCard .productName,
.productCard .productDescription {
  text-align: left;
}

.productCard .productName {
  font-family: "Rubik", sans-serif;
}

.productCard .productDescription {
  font-family: "Karla", sans-serif;
}
